[submodule "egg"]
	path = egg
	url = https://github.com/egraphs-good/egg
[submodule "lut-synth"]
	path = lut-synth
	url = git@github.com:matth2k/lut-synth.git
[submodule "extraction-gym"]
	path = extraction-gym
	url = https://github.com/egraphs-good/extraction-gym.git
[submodule "good_lp"]
	path = good_lp
	url = https://github.com/rust-or/good_lp.git
[submodule]
	egg = git@github.com:neel-patel-1/egg.git
	extraction-gym = git@github.com:neel-patel-1/extraction-gym.git
[submodule "smoothe-artifact"]
	path = smoothe-artifact
	url = https://github.com/yaohuicai/smoothe-artifact.git
[submodule "cs6120"]
	path = cs6120
	url = git@github.com:neel-patel-1/cs6120.git
[submodule "egraph-serialize"]
	path = egraph-serialize
	url = https://github.com/egraphs-good/egraph-serialize.git
